/* Comment */

/*

selector { rule }

*/


/* Tag Selector */
body {
    /* property : value */
    color: #333;
}

.box {
    width: calc(33.333% - 50px);
    margin: 20px;
    border: 5px solid black;
    
    height: 100px;
    background-color: #F33;
    float: left;
}

.b-box {
    /* Padding does not add to the width of the box */
    box-sizing: border-box;
    width: calc(33.333% - 20px);
    margin: 10px;
    padding: 10px;
    
    height: 100px;
    background-color: #3F3;
    float: left;
}
